# Compiled source files
*.a
*.o
*.so
a.out
*.class
*.com
*.pyc
*.cmi
*.cmx
*.cmo
bin/

# Editor backups
\#*#
*~
.*.swp

# OS-generated crap
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
.nfs*
Thumbs.db
ehthumbs.db

# IDE config file
.vscode

# Debug file
*.dSYM

# Other
.makefile_saves/
.idea/
cmake-build-debug/
dep/
